<tr>
  <% if @already_voted.nil? %>
    <td><b>Votes: </b> <%= @votes_for_issue %><a class ='icon icon-vote-issue' href='/issue_votes/vote?issue_id=<%= @issue.id %>'>Vote</a></td>
  <% else %>
    <td><b>Votes: </b><%= @votes_for_issue %>
      <a class ='icon icon-already-voted'>Already voted</a>(<a class ='icon icon-remove-vote' href='/issue_votes/remove?issue_id=<%= @issue.id %>'></a>)
    </td>
  <% end %>
</tr>